header {
  background: #fff;
  height: 1.57rem;
  position: relative;
  &.hide {
    display: none;
  }
  .avatar {
    height: 1.02rem;
    width: 1.02rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.36rem 0 0 0.5rem;
    float: left;
    img {
      width: 1.02rem;
    }
  }
  h2 {
    font-weight: normal;
    font-size: 0.463rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
  }
  span {
    display: inline-block;
    margin-right: 0.5rem;
    color: #6ad2f9;
    font-size: 0.463rem;
    float: right;
    margin-top: 0.46rem;
    &.collection {
      width: 0.6rem;
      height: 0.6rem;
    }
  }
  .signIn {
    margin-left: 0.5rem;
    float: left;
  }
}