.post {
  padding:0.296rem 0.611rem 0 0.435rem;
  border-bottom: 0.2rem solid #eee;
  width: 10rem;
  box-sizing: border-box;
  overflow: hidden;
  h3{
    font-size: 0.52rem;
    margin-top: 0.296rem;
    line-height: 0.75rem;
  }
  p{
    font-size: 0.41rem;
    margin-top: 0.5rem;
    line-height: 0.583rem;
  }
  .count {
    overflow: hidden;
    margin-top: 1rem;
    width: 10rem;
    position: relative;
    left: -0.42rem;
    padding: 0.513rem 0.611rem;
    box-sizing: border-box;
    color: #646464;
    font-size: 0.352rem;
    border-top: 0.01rem solid #aaa;
    span{
      float: right;
      &.like{
        float: left;
        width: 0.7rem;
        height: 0.7rem;
      }
    }
  }
}
.postDetail{
  padding-bottom: 1.28rem;
}