.search {
  margin-left:0.333rem;
  position: relative;
  margin-top: 0.2rem;
  height: 0.8333rem;
  width: 9.333rem;
  background: #f3f3f3;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.1rem;
  &.searchPage {
    width: auto;
    background: #ffffff;
    margin-left: 0.278rem;
    .text {
      left: 0.315rem;
      b {
        height: 0.463rem;
        width: 0.463rem;
        background: url("../img/clear_icon.png");
        background-size: 0.463rem;
        position: absolute;
        margin-top: 0.07rem;
        left: 6.9rem;
      }
    }
    input {
      height: 0.8333rem;
      width: 6.9rem;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      border-radius: 0.1rem;
    }
    > span {
      color: #46c7f7;
      margin-left: 0.56rem;
      display: inline-block;
    }
  }
  &.hide {
    display: none;
  }
  .text {
    position: absolute;
    font-size: 0.37037rem;
    color: #b6b6b6;
    top: 0.15rem;
    left: 4.046rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    span{
      background: url("../img/search_icon.png") no-repeat;
      height: 0.37rem;
      width: 0.37rem;
      display: inline-block;
      background-size: 0.37rem;
      margin-right: 0.16rem;
    }
    i {
      font-style: normal;
    }
  }
  input{
    width: 0rem;
    border: 0rem;
    outline: none;
    font-size: 0.39rem;
    padding-left: 0.81rem;
    background: #f3f3f3;
  }
  > span {
    display: none;
  }
}